.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  background-color: var(--bg-emphasis);
  color: var(--text-primary);
  padding: 2px 6px;
  border-radius: 3px;
  font-size: var(--font-size-body-sm);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3px;
}