:root {
  /* your variables here */
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.cardContainer {
  padding: 25px;
  background-color: var(--bg-muted);
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  transition: all 0.2s ease;
  border-radius: 6px;
  min-height: 180px;
}

.cardContainer:hover {
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.08); */
}

.card {
  
}

.title {
  margin-bottom: 8px;
  color: #111827; 

   font-size: var(--font-size-heading-4);
    color: var(--text-primary);
    font-weight: 900;
}

.message {
  font-size: 15px;
  color: #4b5563; 
  line-height: 1.4;

   font-size: var(--font-size-body-md);
    /* color: var(--text-secondary); */
     font-weight: 400;
     font-size: var(--font-size-body-md);
       color: var(--text-muted);
}

.icon {
  font-size: 24px;
  margin-bottom: 24px;
}