.filter {
  padding: 17px 0px;
  display: flex;
  /* border: 1px solid #eee; */
  /* border-radius: 4px; */
  /* background-color: #f9f9f9; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.hActive {
    font-weight: 600;
    transition: color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-primary);
    padding: 5px 10px;
    border-radius: 6px;
    background-color: var(--bg-emphasis);
    font-size: var(--font-size-body-md);
    margin: 0px 0px;
    /* width: 800px; */
    min-width: max-content;
}
.hInActive {
    font-weight: 600;
    transition: color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-secondary);
    padding: 5px 10px;
    border-radius: 6px;
    /* background-color: var(--bg-hover); */
    font-size: var(--font-size-body-md);
    margin: 0px 0px;
     /* min-width: max-content; */
}

.hInActive{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: start;
    align-items: center;
}

.lightButton {
  cursor: pointer;
  transition: var(--transition);
  outline: 1px solid var(--border-default);
  box-shadow: var(--button-light-shadow);
  padding: 7px 10px;
  border-radius: 10px;
  color: var(--text-default);
    min-width: max-content;
  
}
.lightButton:hover {
    background-color: var(--bg-emphasis);
    transition: background-color 0.2s ease;
}

.lightButton:active {
  transform: scale(0.98);
}

