.toggleCheckbox {

}
:root {
  --toggle-on: #111827;
  --toggle-off: #e5e7eb;
  --switch-bg: #d1d5db;
  --brand-accent: #ffffff;
  --button-light-shadow: rgba(0, 0, 0, 0.03) 0px 2px 3px, rgba(0, 0, 0, 0.03) 0px 2px 2px -1px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle-off);
  transition: 0.4s;
  border-radius: 9999px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  top: 3px;
  background-color: var(--brand-accent);
  box-shadow: var(--button-light-shadow);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--toggle-on);
}

input:checked + .slider::before {
  transform: translateX(18px);
}
