.home {
    width: 100%;
    height: 100%;
    /* background-color: var(--bg-muted); */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.homeContent {
    flex-grow: 1;
    height: 100vh;
    /* outline: 1px solid var(--border-muted); */
    overflow-x: hidden;
    overflow-y: auto;
    /* padding: 16px; */
    /* background-color: var(--bg-muted); */
    /* background-color: red; */
}
