.selectContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: calc(100% - 30px);
    position: relative;

    border-radius: 10px;
    padding: 10px 12px;
    padding-bottom: 0px;
    color: #374151;
    background-color: white;
    /* background-color: red; */
    transition: all 0.2s ease-in-out;
    outline: 1px solid var(--border-default);
    box-shadow: var(--button-light-shadow);
    font-size: var(--font-size-body-md);
    font-weight: 400;
    border: 2px solid transparent;
    margin-bottom: 10px;
    margin-top: 5px;
}

.selectedFilterContainer {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.selectedOption {
    transition: var(--transition);
    transition: color 0.3s ease;
    outline: 1px solid var(--border-default);
    box-shadow: var(--button-light-shadow);
    border-radius: 10px;
    width: min-content;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-secondary);
    padding: 3px 5px;
    /* background-color: var(--bg-hover); */
    font-size: var(--font-size-body-sm);
    margin: 0px 0px;
     /* min-width: max-content; */
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 2px;
     cursor: pointer;


      width: max-content;
     cursor: pointer;
    transition: var(--transition);
    outline: 1px solid var(--border-default);
    box-shadow: var(--button-light-shadow);
    padding: 4px 10px;
    border-radius: 6px;
    color: var(--text-default);

    font-weight: 600;
    text-decoration: none;
    font-size: var(--font-size-body-sm);
    margin: 0px 0px;
    min-width: max-content;
    border: none;
    background-color: var(--bg-default);
}

.label {
    font-size: var(--font-size-body-md);
    color: var(--text-primary);
    font-weight: 600;
   
}

.input {
    border: 0px solid transparent;
    outline: 0px solid transparent;
    background-color: red;
    
}


.input[type="search"] {

  width: calc(100% - 0px);

  width: calc(100% - 2px);
  border-radius: 10px;
  padding: 2.5px 0px;
  color: #374151;
  background-color: white;
  /* background-color: red; */
  transition: all 0.2s ease-in-out;
    outline: 0px solid var(--border-default);
    box-shadow: none;
    font-size: var(--font-size-body-md);
    font-weight: 400;
    border: 2px solid transparent;
 
}

input[type="search"]::placeholder {
  color: #9ca3af;
  font-size: var(--font-size-body-md);
  font-weight: 400;
}


.filterOptions {
    position: absolute;
    width: calc(100% - 0px);
    z-index: 99999999999px;
    top: calc(100% + 10px);
    left: 0;
    border-radius: 10px;
    font-weight: 600;
    transition: color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-default);
    /* width: max-content; */
     outline: 1px solid var(--border-default);
    box-shadow: var(--button-light-shadow);
    overflow: hidden;
    background-color: var(--bg-default);
     max-height: 150px;
     overflow-y: auto;
     border: 0px solid transparent;
     
}

.filterOption {
    width: 100%;
    /* background-color: red; */
    border-radius: 1px;
    font-weight: 500;
    padding: 8px 15px;
    transition: color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    font-size: var(--font-size-body-md);
    color: var(--text-secondary);
    border: 0px solid transparent;
    outline: 0px solid transparent;

}

.filterOption:hover {
    background-color: var(--bg-subtle);
    color: var(--text-primary);
    /* font-weight: bold; */
    transition: background-color 0.2s ease;
}


.info {
  color: #9ca3af;
  font-size: var(--font-size-body-sm);
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-weight: 600;
  margin-bottom: 10px;
}
