.pagebody {
  padding: 5px 25px;
  height: max-content;
  /* background-color: green; */
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: calc(100% - 50px);
}

.pagebodyHeader {
  display: flex;
  align-items: start;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 0px;
  width: 100%;
  gap: 15px;
  /* height: 500px; */
  /* background-color: var(--bg-muted); */
}   

.pagebodyNav {

    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-radius: 7px;
    /* background-color: red; */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  
}

.pagebodyFilter {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  /* border-radius: 7px; */
  /* background-color: red; */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  
}

.pagebodyActionButtons {
  width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-radius: 7px;
    /* background-color: red; */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  
}

.pagebodyActionsButton:hover {
  background-color: var(--bg-hover);
}

.pagebodyContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  /* background-color: var(--bg-muted); */
  /* background-color: red; */
  padding: 17px 0px;
}

